<launch>

    <!--
    Args with no default attribute are not optional
    -->
    <arg name="input" default=":default"/>
    <arg name="hmm" default=":default"/>
    <arg name="dict"/>
    <arg name="gram" default=":default"/>
    <arg name="grammar" default=":default"/>
    <arg name="rule" default=":default"/>

    <!--
    Node for publishing audio inputs
    -->
    <node
        name="google_sr"
        pkg="rchomeedu_speech"
        type="google_sr.py"
        output="screen"
        >

        <param name="input" value="$(arg input)"/>
    </node>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
  <node name="talkback" pkg="rchomeedu_speech" type="talkback.py"/>

</launch>
